div{
    width: 500px;
    height: 100%;
    background: whitesmoke;
    margin: auto;
    align-content: center;
}
li{
    width: 500px;
    padding-top: 10px;
}
input{
    width: 350px;
    justify-content: center;
}
h1{
    text-align: center;
}
.btn-primary{
    margin-left: 14px;
    margin-right: 0px;
}