div{
    width: 500px;
    height: 100%;
    background: whitesmoke;
    margin: auto;
    align-content: center;
}
li{
    width: 500px;
    padding-top: 10px;
}
input{
    width: 350px;
    justify-content: center;
}
h1{
    text-align: center;
}
.btn-primary{
    margin-left: 14px;
    margin-right: 0px;
}
.Headerlist{
    text-align: center;
}
input {
    width: 348px;
    justify-content: center;
}
.DelButton{
    background-color: black;
    color: white;
    float: right;
    margin-right: 30px;
}
footer{
    margin-top: 5px;
}
.DelallButton{
    float: right;
    width: 60px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}